<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698583396283-v6l1t1dnri7a3hc2qu2r3d7r1oko3om4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698583396283-v6l1t1dnri7a3hc2qu2r3d7r1oko3om4</string>
	<key>API_KEY</key>
	<string>AIzaSyAL6NRpqBY_MSWSfe3qgPDEaZQYJ2rTHsY</string>
	<key>GCM_SENDER_ID</key>
	<string>698583396283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyanalwakeel.diabeats</string>
	<key>PROJECT_ID</key>
	<string>diabeats-8bcc9</string>
	<key>STORAGE_BUCKET</key>
	<string>diabeats-8bcc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698583396283:ios:d222299349a3510cfcde9e</string>
	<key>DATABASE_URL</key>
	<string>https://diabeats-8bcc9-default-rtdb.firebaseio.com</string>
</dict>
</plist>